<footer>
    <div class="footer">
      <div class="wrapper">
            <div class="logo">
                <img src="images/logo.png" alt="logo" />
                <h6>1717 Harrison St.San Francisco, 
                    CA94103,USA
                 </h6>
            </div>
      </div>
      <div class="footer_links">
       <div class="coluna">
         <h5>MAIN MENU</h5>
          <nav>
           <a href="#">Home</a>
           <a href="#">About</a>
           <a href="#">Shop</a>
           <a href="#">Help</a>
         </nav>
        </div>
      </div>
      <div class="footer_links">
       <div class="coluna">
          <h5>COMPANY</h5>
           <nav>
            <a href="#">The Company</a>
            <a href="#">Careers</a>
            <a href="#">Press</a>
            </nav>
        </div>
      </div>
      <div class="footer_links">
        <div class="coluna">
         <h5>DISCOVER</h5>
          <nav>
           <a href="#">The Team</a>
           <a href="#">Our History</a>
           <a href="#">Brand Motto</a>
          </nav>
        </div>
      </div>
      <div class="footer_links">
        <div class="coluna">
          <h5>FIND US ON</h5>
            <nav>
              <a href="#">Facebook</a>
              <a href="#">Twitter</a>
              <a href="#">Instagram</a>
            </nav>
        </div>
      </div>
    </div>
    <div class="data">
     <h5>C Your Company Name
     </h5>
    </div>
  </footer>



    </body>

</html>