<%- include('./partials/header') %>

<content>
  <div class="banner">
    
    <h2>Tagli describing your e-shop</h2>
      <img src="../public/images/foto_01.png" alt="Logo" />
      <img src="../public/images/foto_02.png" alt="Logo" />
      <img src="../public/images/foto_03.png" alt="Logo" />
    <br></br>
    <button class="btn btn-primary">Shop Now</button>
  </div>

  
  <div class="container">
    <div class="row">
      <h1>Featured Products</h1>
    </div>
    <div class="row">
      
      <div class="col-sm4">
        <div class="card">
          <div class="cover-image card-img-top"></div>
          <img src="..." alt=""/>
          <div class="card-body">
            <h6 class="card-title"></h6>
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cadastro">
    <div class="item1">
      <div class="item2">
       <h4>NewsLetter</h4>
     </div>
      <p>Lorem Ipsum is Lorem Ipsum and is considered to be of</p>
    </div>
    <div class="item3">             
      <input type="email" id="email" name="email">
      <label for="email"><button class="btn btn-primary">Subscribe</button></label>
    </div>
  </div>

  <br></br>
<div class="produto1">
    <div class="card1">
      <a href="#">
        <img src="../public/images/no-img.jpg" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  <div class="produto2">
    <div class="card2">
      <a href="#">
        <img src="../public/images/no-img.jpg" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  
    <div class="card2">
      <a href="#">
        <img src="../public/images/noImage.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  
 
    <div class="card2">
      <a href="#">
        <img src="images/cards 4.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  
  
    <div class="card2">
      <a href="#">
        <img src="../public/images/foto_03.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  </div>

</div>

<div class="descricao">
  <h2>About Your Shop</h2>
  <p>Lorem Ipsum is Lorem Ipsum and is considered to be of
    importance and useful for diagnostic purposes
  </p>
</div>

</content>
    



<%- include('./partials/footer') %>




