<%- include('partials/header') %>

<content>
  <div class="banner">
    <h2>Tagli describing your e-shop</h2>
      <img src="images/banner.png" alt="Logo" />
      <img src="images/banner.png" alt="Logo" />
      <img src="images/banner.png" alt="Logo" />
    <br></br>
    <button type="button">Shop Now</button>
  </div>

  <div class="vitrine">
    <h2>Featured Products</h2>
    <div class="vitrine_container">
      <a href="#">
       <img src="images/banner.png" alt="Logo" />
       <p>PRODUTO NAME
       <span class="preco">$300</span></p>
      </a>
      <a href="#">
        <img src="images/banner.png" alt="Logo" />
        <p>PRODUTO NAME
        <span class="preco">$300</span></p>
      </a>
    </div>
  </div>

  <div class="cadastro">
    <div class="item1">
      <div class="item2">
       <h4>NewsLetter</h4>
     </div>
      <p>Lorem Ipsum is Lorem Ipsum and is considered to be of</p>
    </div>
    <div class="item3">             
      <input type="email" id="email" name="email">
      <label for="email"><button>submit</button></label>
    </div>
  </div>

  <br></br>
<div class="produto1">
    <div class="card1">
      <a href="#">
        <img src="images/cards 1.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  <div class="produto2">
    <div class="card2">
      <a href="#">
        <img src="images/cards 2.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  
    <div class="card2">
      <a href="#">
        <img src="images/cards 3.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  
 
    <div class="card2">
      <a href="#">
        <img src="images/cards 4.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  
  
    <div class="card2">
      <a href="#">
        <img src="images/cards 5.png" alt="logo">
        <p>PRODUTO NAME</p>
        <span class="preco">$300</span>
      </a>
    </div>
  </div>

</div>

  <div class="descricao">
    <h2>About Your Shop</h2>
    <p>Lorem Ipsum is Lorem Ipsum and is considered to be of
      importance and useful for diagnostic purposes
    </p>
  </div>


</content>
    
<%- include('partials/footer') %>

