<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <title>Plataforma Omnia</title>
        <link rel="stylesheet" href="style.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1><img src="omni2 - Copia.png" alt=""></h1>                               
            </div>
        </header>
        <div class=gold_bar>
        </div>
    </body>
    <main>
        <br>
        <h1>Loren Ipson</h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h3>
        <img class="img-relatorios" src="relatorios.png" alt="">
    </main>

    
    
</html>

