html,
body {
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.wrapper {
  max-width: 2000px;
  margin: 0;
  text-align: center;
  align-items: baseline;
  justify-content: space-evenly;
}
header {
  line-height: 10px;
}
header .wrapper{
  background-color: #777777;
  color: #dadada;
  display: flex;
}
/*  Flexbox usado no navbar */
header nav {
  background-color: #777777;
  color: #dadada;
  font-size: 20px;
  font-weight: 200;
}
header nav a {
  background-color: #777777;
  color: #dadada;
  margin-left: 20px;
  text-decoration: none;
}
header h1 {
  background-color: #777777;
  color: #dadada;
  margin: 10px;
}
content .banner {
  background-color: #777777;
  color: #dadada;
}
content .banner h2 {
  list-style: none;
  margin: 0;
  padding: 50px;
}




/* cadastro E-mail */
.cadastro {
 display:flex;
 align-items: center;
 max-width: 500px;
 margin:  auto;
 

}

.item2{
  display:flex;
  flex-grow: 0;
  align-items: flex-start; 
}
.item3{
  display:flex;
  flex-grow: 0;
}

/* Descrição */

.descricao {
  max-width: 400px;
	margin: 0 auto;
  }






  /* footer  */
  .footer {
    display:flex;
    align-items: center;
    max-width: 500px;
    margin:  auto;    
    align-items: baseline; 
  }
  .data{
    display:flex;
    max-width: 500px;
    margin:  auto;  
    flex-grow: 0;
    
  }

  /* produtos */
  .produto1{
    display:flex;
    align-items: center;
    max-width: 500px;
    margin:  auto;  

    
  }
.produto2{
  display:flex;
  align-items: center;
  max-width: 300px;
  margin:  auto;  
  flex-flow: row wrap;

}
 

